.MainContainer {
  border-style: solid;
  border-width: 3px;
  border-color: purple;
}

.MainContainer p {
  font-size: 15px;
}

.MainContainer h2 {
  font-size: 30px;
  color: hotpink;
  weight: bold;
  text-transform: capitalize;
}
